<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="saxophone"
          class="com.iocya.springbase.beans.bean.Saxophone"/>

    <bean id="piano"
          class="com.iocya.springbase.beans.bean.Piano"/>

    <bean id="kenny" class="com.iocya.springbase.beans.bean.Instrumentalist">
        <property name="song" value="jingle bells"/>
        <property name="instrument" ref="saxophone"/>
    </bean>

    <bean id="carl" class="com.iocya.springbase.beans.bean.Instrumentalist">
        <property name="song" value="#{kenny.song}"/>
        <property name="instrument" ref="piano"/>
    </bean>
    <bean id="carl2" class="com.iocya.springbase.beans.bean.Instrumentalist">
        <property name="song" value="#{kenny.screamSong().toUpperCase()}"/>
        <property name="instrument" value="#{piano}"/>
    </bean>
</beans>