<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.iocya.springbase.beans.bean"/>

    <context:component-scan base-package="com.iocya">
        <context:include-filter type="regex" expression=".*controller.*Controller"/>
        <!--Any type under the specified base packages which matches a given 
        filter will be included, even if it does not match the default filters 
        (i.e. is not annotated with @Component).-->
    </context:component-scan>

</beans>